<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookstore.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.bookstore.bean.Book">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="isbn" jdbcType="CHAR" property="isbn" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="pubdate" jdbcType="TIMESTAMP" property="pubdate" />
    <result column="thumbnail" jdbcType="CHAR" property="thumbnail" />
    <result column="sketch" jdbcType="LONGVARCHAR" property="sketch" />
    <result column="price" jdbcType="DECIMAL" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    id, category_id, `name`, isbn, author, pubdate, thumbnail, price, sketch
  </sql>
  <select id="listBooks" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from book
  </select>
  <select id="listBooksByCategory" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from book
    where
    `category_id` = #{categoryId,jdbcType=BIGINT}
  </select>
  <select id="listBooksByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from book
    <where>
      <if test="keyword != null and keyword != ''">
        `name` = #{keyword,jdbcType=VARCHAR}
        or
        isbn = #{keyword,jdbcType=VARCHAR}
        or
        isbn = #{keyword,jdbcType=VARCHAR}
        or
        author = #{keyword,jdbcType=VARCHAR}
      </if>
    </where>
    limit #{currentIndex}, #{pageSize}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from book
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bookstore.bean.Book">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into book (category_id, `name`, isbn, 
      author, pubdate, thumbnail, 
      price, sketch)
    values (#{categoryId,jdbcType=BIGINT}, #{name,jdbcType=CHAR}, #{isbn,jdbcType=CHAR}, 
      #{author,jdbcType=VARCHAR}, #{pubdate,jdbcType=TIMESTAMP}, #{thumbnail,jdbcType=CHAR}, 
      #{price,jdbcType=DECIMAL}, #{sketch,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bookstore.bean.Book">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="isbn != null">
        isbn,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="pubdate != null">
        pubdate,
      </if>
      <if test="thumbnail != null">
        thumbnail,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="sketch != null">
        sketch,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="isbn != null">
        #{isbn,jdbcType=CHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null">
        #{pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="thumbnail != null">
        #{thumbnail,jdbcType=CHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="sketch != null">
        #{sketch,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bookstore.bean.Book">
    update book
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=CHAR},
      </if>
      <if test="isbn != null">
        isbn = #{isbn,jdbcType=CHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="pubdate != null">
        pubdate = #{pubdate,jdbcType=TIMESTAMP},
      </if>
      <if test="thumbnail != null">
        thumbnail = #{thumbnail,jdbcType=CHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="sketch != null">
        sketch = #{sketch,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bookstore.bean.Book">
    update book
    set category_id = #{categoryId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=CHAR},
      isbn = #{isbn,jdbcType=CHAR},
      author = #{author,jdbcType=VARCHAR},
      pubdate = #{pubdate,jdbcType=TIMESTAMP},
      thumbnail = #{thumbnail,jdbcType=CHAR},
      price = #{price,jdbcType=DECIMAL},
      sketch = #{sketch,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bookstore.bean.Book">
    update book
    set category_id = #{categoryId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=CHAR},
      isbn = #{isbn,jdbcType=CHAR},
      author = #{author,jdbcType=VARCHAR},
      pubdate = #{pubdate,jdbcType=TIMESTAMP},
      thumbnail = #{thumbnail,jdbcType=CHAR},
      price = #{price,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>